{
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        },
        "sourceType": "module"
    },
    "rules": {
        "no-cond-assign": "error",
        "no-constant-condition": "error",
        "no-dupe-args": "error",
        "no-dupe-keys": "error",
        "no-empty": "error",
        "no-extra-boolean-cast": "error",
        "no-extra-parens": "error",
        "no-extra-semi": "error",
        "no-func-assign": "error",
        "no-inner-declarations": "error",
        "no-invalid-regexp": "error",
        "no-irregular-whitespace": "error",
        "no-obj-calls": "error",
        "no-unexpected-multiline": "error",
        "no-unreachable": "error",
        "no-unsafe-finally": "error",
        "use-isnan": "error",
        "valid-typeof": "error",
        "block-scoped-var": "error",
        "complexity": ["error", 9],
        "curly": ["error", "all"],
        "dot-location": ["error", "property"],
        "dot-notation": "error",
        "eqeqeq": ["error", "smart"],
        "no-else-return": "error",
        "no-extra-bind": "error",
        "no-labels": "error",
        "no-loop-func": "error",
        "no-multi-spaces": "error",
        "no-new-wrappers": "error",
        "no-new": "warn",
        "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
        "no-proto": "error",
        "no-redeclare": "error",
        "no-return-assign": "error",
        "no-self-assign": "error",
        "no-self-compare": "error",
        "no-throw-literal": "error",
        "no-useless-return": "error",
        "no-undef": "error",
        "no-unused-vars": "error",
        "no-use-before-define": "error",
        "comma-dangle": ["error", "only-multiline"],
        "comma-spacing": "error",
        "comma-style": "error",
        "indent": ["error", 2],
        "no-const-assign": "error",
        "require-yield": "error",
        "require-await": "error",
        "sort-imports": ["warn", { "ignoreCase": true }]
    }
}
