<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>radial snake</title>

		<link rel="stylesheet" type="text/css" href="/styles/game.css">
	</head>

	<body>
		<canvas id="gameCanvas" tabindex="0"></canvas>

		<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
		<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js" type="text/javascript"></script>

		<script type="text/javascript" src="/scripts/namespaces.js"></script>
		<script type="text/javascript" src="/scripts/number-extensions.js"></script>
		<script type="text/javascript" src="/scripts/engine/geometry/line.js"></script>
		<script type="text/javascript" src="/scripts/engine/geometry/circle.js"></script>
		<script type="text/javascript" src="/scripts/engine/geometry/polygon.js"></script>
		<script type="text/javascript" src="/scripts/engine/restorable.js"></script>
		<script type="text/javascript" src="/scripts/engine/font.js"></script>
		<script type="text/javascript" src="/scripts/engine/sprite.js"></script>
		<script type="text/javascript" src="/scripts/engine/animations/keyframe.js"></script>
		<script type="text/javascript" src="/scripts/engine/key-states.js"></script>
		<script type="text/javascript" src="/scripts/engine/layer.js"></script>
		<script type="text/javascript" src="/scripts/engine/screen.js"></script>
		<script type="text/javascript" src="/scripts/engine/assets-loader.js"></script>
		<script type="text/javascript" src="/scripts/engine/game.js"></script>
		<script type="text/javascript" src="/scripts/game/entities/snake.js"></script>
		<script type="text/javascript" src="/scripts/game/screens/play/index.js"></script>
		<script type="text/javascript" src="/scripts/game/screens/play/win.js"></script>
		<script type="text/javascript" src="/scripts/game/screens/play/score.js"></script>
		<script type="text/javascript" src="/scripts/game/screens/play/snake.js"></script>
		<script type="text/javascript" src="/scripts/game/screens/play/ready.js"></script>
		<script type="text/javascript" src="/scripts/game/screens/menu/index.js"></script>
		<script type="text/javascript" src="/scripts/game/screens/splash/index.js"></script>
		<script type="text/javascript" src="/scripts/main.js"></script>
	</body>

</html>
